/#newfile1.lyx#
/.DS_Store
/Figure_1.png
/Learning.pdf
/README.md
/Screenshot 2023-01-24 at 20.00.00.png
/Screenshot 2023-01-25 at 16.26.50.png
/Screenshot 2023-01-26 at 18.26.55.png
/Screenshot 2023-01-26 at 18.33.15.png
/Screenshot 2023-01-26 at 18.35.50.png
/Screenshot 2023-01-28 at 23.28.24.png
/Screenshot 2023-01-28 at 23.49.22.png
/Screenshot 2023-01-29 at 0.00.09.png
/Screenshot 2023-01-29 at 1.52.57.png
/Screenshot 2023-01-29 at 1.57.01.png
/data
/data_maker.py
/newfile1.lyx
/newfile1.lyx~
/test_data_dict.pickle
/test_data_dict_local.pickle
/train_data_dict.pickle
/train_data_dict_local.pickle